
<div class="row">
  <div class="col-md-12 index-title">
    <h1 style="display: inline;">Gem Files</h1>
    <%= link_to 'Create Gem', new_jem_path, class: "btn btn-primary pull-right" %>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
    <div class="smallstat">
      <div class="info-graphic users">
        <div class="boxchart"><%= image_tag 'user.png', size: "40x40" %></div>
      </div>
      <span class="value"><%= @users_count %></span>  
      <span class="title">Users</span>
    </div>
  </div>


  <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
    <div class="smallstat">
      <div class="info-graphic primary">
        <div class="boxchart"><%= image_tag 'ruby.png', size: "40x40" %></div>
      </div>
      <span class="value"><%= @jems.size %></span>  
      <span class="title">Active Gems</span>
    </div>
  </div>

  <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
    <div class="smallstat">
      <div class="info-graphic activity">
        <div class="boxchart"><%= image_tag 'activity.png', size: "40x40" %></div>
      </div>
      <span class="value"><%= @activities_count %></span>  
      <span class="title">Activities</span>
    </div>
  </div>

  <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
    <div class="smallstat">
      <div class="info-graphic files">
        <div class="boxchart"><%= image_tag 'files.png', size: "40x40" %></div>
      </div>
      <span class="value"><%= @scripts_count %></span>  
      <span class="title">Files Uploaded</span>
    </div>
  </div>
</div>

