<div class="col-md-4 col-md-offset-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2><i class="fa fa-files-o"></i><span class="break"></span>Create a new gem</h2>
    </div>
    <div class="panel-body">

      <%= form_for @jem do |f| %>
          <%= render 'shared/error_messages' %>
          <%= f.label :name, 'Name' %></br>
          <%= f.text_field :name, class: "form-control" %></br>
        
          <%= f.label :author, 'Author' %></br>
          <%= f.text_field :author, class: "form-control"  %></br>
        
          <%= f.label :version_number, 'Version Number' %></br>
          <%= f.text_field :version_number, :placeholder => '0.0.1', class: "form-control"  %></br>
        
          <%= f.label :description, 'Description' %></br>
          <%= f.text_field :description, class: "form-control"  %></br>
        
          <%= f.label :summary, 'Gem Summary' %></br>
          <%= f.text_field :summary, class: "form-control"  %></br>
        
          <%= f.label :homepage, 'Homepage' %></br>
          <%= f.text_field :homepage,:placeholder => 'http://', class: "form-control"  %></br>
        
          <%= f.label :email, 'Email Address' %></br>
          <%= f.text_field :email, class: "form-control"  %></br>
        
          <%= f.label :github, 'Github Repository' %></br>
          <%= f.text_field :github,:placeholder => 'http://', class: "form-control"  %></br>
        
          <%= f.submit 'Create Gem', :class => 'btn btn-primary full-width-button' %>
          <% end %>
    </div>
  </div>
</div>
