<%= form_for(@jem, :html => { :multipart => true, :role => "form" }) do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Name' %></br>
    <%= f.text_field :name, class: "form-control" %></br>
  </div>
  <div class="form-group">
  <%= f.label :author, 'Author' %></br>
  <%= f.text_field :author, class: "form-control"  %></br>
  </div>
  <div class="form-group">
    <%= f.label :base_name, 'Base Name' %></br>
    <%= f.text_field :base_name, class: "form-control"  %></br>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Description' %></br>
    <%= f.text_field :description, class: "form-control"  %></br>
  </div>
  <div class="form-group">
    <%= f.label :homepage, 'Homepage' %></br>
    <%= f.text_field :homepage, class: "form-control"  %></br>
  </div>
  <div class="form-group">
    <%= f.label :email, 'Email Address' %></br>
    <%= f.text_field :email, class: "form-control"  %></br>
  </div>
  <div class="form-group">
    <%= f.label :github, 'Github Repository' %></br>
    <%= f.text_field :github, class: "form-control"  %></br>
  </div>
  <%= f.submit 'Create Gem', class: "btn btn-primary"%>
<% end %>
