<div class="page-header">
  <h1><%= @jem.name.capitalize %>
  <small>// <%= @jem.github %></small>
  </h1>
</div>

<ol id="file-list">
<% @jem.scripts.each do |script| %>
  </br>
  <li><%= File.basename(script.file.url) %></li>
<% end %>
</ol>

<form action="/jems/<%= @jem.id %>/scripts" id="new-script" class="" enctype="multipart/form-data" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input name="_method" type="hidden" value="POST" />

  <input name="script[file]" type="file" multiple />
</form>

<%= form_tag '/create_gem', :method => :post, :remote => :true do %>
  <input type="hidden" name="id" value="<%= @jem.id %>"/>
  <%= submit_tag 'Create Gem', class: "btn btn-primary" %>
<% end %>

<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%;"></div></div>
  </div>
</script>