<!-- <div class="title-group">
  <h1><%= @jem.name.capitalize %>
   <small><%= @jem.description %></small> 
  </h1>
</div> -->
<!-- <h5> Drag and drop your files anywhere in the browser to upload </h5> -->

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <dl>
            <dt><i class="fa fa-user"></i> Author:</dt>
            <dd><%= @jem.author %></dd>

            <dt><i class="fa fa-inbox"></i> Email:</dt>
            <dd><%= @jem.email %></dd>

            <dt><i class="fa fa-home"></i> Homepage:</dt>
            <dd><%= @jem.homepage %></dd>

            <dt><i class="fa fa-align-left"></i> Name:</dt>
            <dd><%= @jem.name %></dd>

            <dt><i class="fa fa-github"></i> Github:</dt>
            <% if URI.parse(@jem.github).scheme == nil %>
              <dd><%= link_to "github/" + @jem.name, "http://" + @jem.github.to_s %></dd>
            <% else %>
              <dd><%= link_to "github/" + @jem.name, @jem.github.to_s %></dd>
            <% end %>

            <dt><i class="fa fa-arrow-circle-up"></i> Version:</dt>
            <dd><%= @jem.version_number %></dd>

            <dt><i class="fa fa-align-justify"></i> Description:</dt>
            <dd><%= @jem.description %></dd>

            <dt><i class="fa fa-clock-o"></i> Created:</dt>
            <dd><%= @jem.created_at %></dd>

            <dt><i class="fa fa-arrow-up"></i> Update:</dt>
            <dd><%= @jem.updated_at %></dd>

        </dl>
      </div>
    </div>
  </div>


  <div class="col-md-9">
  <%# @jem.log_rubygems %>
  <%#= Gems.downloads @jem.name, @jem.version_number %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2><i class="fa fa-align-justify"></i><span class="break"></span>Condensed Table</h2>
      </div>
      <div class="panel-body">
        <table id="file-list" class="table table-bordered">
          <thead>
            <tr>
              <th>FILE NAME</td>
              <th class="text-center">FILE TYPE</td> 
              <th class="text-center" width="80">DELETE</th>
            </tr>
          </thead>
          <tbody>
            <% @jem.scripts.each do |script| %>
              <tr data-id="<%= script.id %>">
                <td><%= File.basename(script.file.url) %></td>
                <td class="text-center"><%= script.file.file.extension.upcase %></td>
                <td>
                  <%=
                    link_to 'Remove',
                    delete_script_path(script),
                    remote: :true,
                    method: :delete,
                    :data => { confirm: "Are you sure? "},
                    :class => "btn btn-danger btn-xs center-block"
                   %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= form_tag '/create_gem', :method => :post, :remote => :true do %>
        <input type="hidden" name="id" value="<%= @jem.id %>"/>
        <%= submit_tag 'Create Gem', class: "btn btn-primary btn-sm pull-right" %>
        <% end %>
    </div>
  </div>
</div><!--/col-->

<div id="activity-list" class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading" id="job_messages">
      <h2><i class="fa fa-align-justify"></i><span class="break"></span>Activity</h2>
    </div>
    <div class="panel-body">
      <ul class="dashboard-list" id="activity-list">
        <% @activities.each do |activity| %>
        <li>
          <% if activity.action == "create" %>
            <i class="fa fa-plus" style="color: #36a9e1;"></i>
          <% elsif activity.action == "destroy" %>
            <i class="fa fa-minus" style="color: #ff5454;"></i>
          <% elsif activity.action == "update" %>
            <i class="fa fa-arrow-up" style="color: #bdea74;"></i>
          <% end %>
          <%= User.find(activity.user_id).name %>
          <%= activity.action.sub(/e?$/, "ed") %>
          <% if activity.trackable_type == "Jem" %>
            <%= @jem.name %>
          <% else %>
            <%= activity.trackable_name %>
          <% end %>
          <%= time_ago_in_words(activity.created_at) %> ago
        </li>
        <% end %>
        
      </ul>
    </div>
  </div>
</div>

<div style="display:none" id="progress-bar" class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading" id="job_messages">
      <h2><i class="fa fa-align-justify"></i><span class="break"></span>Message</h2>
    </div>
    <div class="panel-body">
      <div class="progress">
        <div id="job-progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
          0%
        </div>
      </div>
    </div>
  </div>
</div>

<div id="job-id-container"></div>


<form action="/jems/<%= @jem.id %>/scripts" id="new-script" class="" enctype="multipart/form-data" method="post" style="display:none;">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input name="_method" type="hidden" value="POST" />

  <input name="script[file]" type="file" multiple style="display:none;" />
</form>
