<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="description" content="">
            <meta name="author" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            
            <!-- Favicon -->
            <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon">
                
            <title>Gemify-JS</title>
            <%= stylesheet_link_tag    'front/front' %>
            <%= stylesheet_link_tag    'front/default' %>
            <%= stylesheet_link_tag    'front/flexslider' %>
            <%= stylesheet_link_tag    'front/owl-carousel/owl.carousel' %>
            <%= stylesheet_link_tag    'front/owl-carousel/owl.theme' %>
            <%= stylesheet_link_tag    'front/owl-carousel/owl.transitions' %>
            <%= javascript_include_tag 'front/application' %>
            <%= javascript_include_tag 'front/html5shiv' %>
            <%= javascript_include_tag 'front/jquery.flexslider' %>
            <%= javascript_include_tag 'front/jquery.magnific-popup.min' %>
            <%= javascript_include_tag 'front/modernizr-2.6.2.min' %>
            <%= javascript_include_tag 'front/owl-carousel/owl.carousel' %>
            <%= javascript_include_tag 'front/respond.min' %>
            <%= javascript_include_tag 'front/scripts' %>

            <%= csrf_meta_tags %>
            <%= analytics_init if Rails.env.production? %>
 
        </head>
        <body>            
            <!-- Hero -->
            <section id="hero">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="logo">
                                <h1><%= image_tag 'gem.png', size: "100x100" %></i></h1>
                            </div>
                            <div class="intro">
                                <h1>Gemify-JS simplifies adding JS / CSS libraries to your Rails application.</h1>
                                <p class="lead">Found Javascript or theme templates that are not available as Rails Gems? Use Gemify-JS to create and maintain Gems for your front-end library!</p>
                                <div class="buttons">
                                    <%= link_to user_omniauth_authorize_path(:github), class: "btn btn-1 btn-lg"  do %>
                                    <i class="fa fa-sign-in"></i>
                                    Sign in with Github
                                    <% end %>
                                    <a class="btn btn-link btn-lg" href="#features" id="learn-more"><i class="fa fa-arrow-circle-o-right"></i> Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div id="main-slider" class="flexslider">
                                <ul class="slides">
                                    <li><%= image_tag "slides/01.png" %></li>
                                    <li><%= image_tag "slides/02.png" %></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End hero -->
            
            <!-- Features -->
            <section id="features" name="features">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview">
                                <h1>Dead Simple Gem Generation</h1>
                                <p class="lead">We make it ridiculously easy to turn your JS, CSS and Image files into a Rail's asset pipeline compatible gem.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-md-offset-1 col-sm-offset-1">
                            <figure class="item">
                                <div class="item-icon">
                                    <i class="fa fa-rocket fa-lg"></i>
                                </div>
                                <div class="item-body">
                                    <h2>Github Integration</h2>
                                    <p>We create and manage the github repository so you don't have to!  Just remove the old files and upload new files then Gemify!</p>
                                </div>
                            </figure>
                            <figure class="item">
                                <div class="item-icon">
                                    <i class="fa fa-files-o fa-lg"></i>
                                </div>
                                <div class="item-body">
                                    <h2>We Push To Rubygems</h2>
                                    <p>Don't worry about managing uploading and updating the gem, we handle it all for you!</p>
                                </div>
                            </figure>
                            <figure class="item">
                                <div class="item-icon">
                                    <i class="fa fa-bar-chart-o fa-lg"></i>
                                </div>
                                <div class="item-body">
                                    <h2>Less Steps For You</h2>
                                    <p>Just upload and gemify! That's all you need to do to gemify your javascript libraries, your jquery plugins and your sick-lookin' themes</p>
                                </div>
                            </figure>
                        </div>
                        <div class="col-md-4 col-sm-4 col-md-offset-2 col-sm-offset-2">
                            <figure class="item">
                                <div class="item-icon">
                                    <i class="fa fa-user fa-lg"></i>
                                </div>
                                <div class="item-body">
                                    <h2>Drag N' Drop!</h2>
                                    <p>Just drag and drop your Javascript, CSS and Image files and we'll organize it all for you.  Never worry about manually creating another front-end rails gem!</p>
                                </div>
                            </figure>
                            <figure class="item">
                                <div class="item-icon">
                                    <i class="fa fa-mobile fa-lg"></i>
                                </div>
                                <div class="item-body">
                                    <h2>Check The Gem's Progress</h2>
                                    <p>We have a nifty progress bar that shows you the status of the gem generation.</p>
                                </div>
                            </figure>
                            <figure class="item">
                                <div class="item-icon">
                                    <i class="fa fa-code fa-lg"></i>
                                </div>
                                <div class="item-body">
                                    <h2>Developer Friendly</h2>
                                    <p>Shoot us an email if you're having any trouble using our application. We're developers, too!</p>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End features -->
            
            <!-- Image -->
            <section id="image">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="iphone-2">
                                <%= image_tag "iphone-2.png", class: "img-responsive" %>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="text">
                                <h1>Responsive design<br>for all devices</h1>
                                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mi odio, gravida at turpis et, porta bibendum justo.</p>
                                <a class="btn btn-4 btn-lg btn-wide"><i class="fa fa-cloud-download icon"></i>Cloud Download</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End image -->
            
            <!-- About -->
            <section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview">
                                <h1>Our developers</h1>
                                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-md-offset-2 col-sm-offset-2 text-center">
                            <figure class="user">
                                <div class="user-avatar">
                                    <%= image_tag "user-lg.png", class: "img-responsive img-circle" %>
                                </div>
                                <h2>Wontae Yang</h2>
                                <p class="lead">Bro #1</p>
                            </figure>
                        </div>
                        <div class="col-md-3 col-sm-6 col-md-offset-2 col-sm-offset-2 text-center">
                            <figure class="user">
                                <div class="user-avatar">
                                    <%= image_tag "user-lg.png", class: "img-responsive img-circle" %>
                                </div>
                                <h2>Sunwoo Yang</h2>
                                <p class="lead">Bro #2</p>
                            </figure>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End About -->
            
            <!-- Video -->
            <section id="video">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview">
                                <h1>Take a video tour</h1>
                                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="co-md-12">
                            <div class="ipad-1">
                                <a class="popup-vimeo" href="http://player.vimeo.com/video/78554894?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen"><i class="fa fa-play-circle-o fa-3x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End video -->
            
            <!-- Testimonials -->
            <section id="testimonials">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview">
                                <h1>Testimonials</h1>
                                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Carousel -->
                            <div id="carousel-example-generic-2" class="carousel slide">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <div class="user-avatar">
                                                    <%= image_tag "user-md.png", class: "img-responsive img-circle" %>
                                                </div>
                                            </div>
                                            <div class="col-sm-10">
                                                <div class="text">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae nulla sapien. Nullam elit magna, dignissim id lectus ut, aliquet volutpat elit. Pellentesque condimentum sit amet arcu eget dignissim. Pellentesque facilisis lectus non augue vulputate, non iaculis quam ultrices.</p>
                                                    <p><a href="#">John Doe, company.com</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <div class="user-avatar">
                                                    <%= image_tag "user-md.png", class: "img-responsive img-circle" %>
                                                </div>
                                            </div>
                                            <div class="col-sm-10">
                                                <div class="text">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae nulla sapien. Nullam elit magna, dignissim id lectus ut, aliquet volutpat elit. Pellentesque condimentum sit amet arcu eget dignissim. Pellentesque facilisis lectus non augue vulputate, non iaculis quam ultrices.</p>
                                                    <p><a href="#">John Doe, company.com</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <div class="user-avatar">
                                                    <%= image_tag "user-md.png", class: "img-responsive img-circle" %>
                                                </div>
                                            </div>
                                            <div class="col-sm-10">
                                                <div class="text">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae nulla sapien. Nullam elit magna, dignissim id lectus ut, aliquet volutpat elit. Pellentesque condimentum sit amet arcu eget dignissim. Pellentesque facilisis lectus non augue vulputate, non iaculis quam ultrices.</p>
                                                    <p><a href="#">John Doe, company.com</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End testimonials -->
            
            <!-- Purchase -->
            <section id="purchase">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Are you ready?</h1>
                            <a class="btn btn-1 btn-lg"><i class="fa fa-download icon"></i>Download now</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End purchase -->
            
            
            <!-- Gallery -->
            <section id="gallery">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview">
                                <h1>Screenshots</h1>
                                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="owl-demo" class="owl-carousel">
                                <div class="item"><%= image_tag "screenshots/1.png", class: "img-responsive" %></div>
                                <div class="item"><%= image_tag "screenshots/2.png", class: "img-responsive" %></div>
                                <div class="item"><%= image_tag "screenshots/3.png", class: "img-responsive" %></div>
                                <div class="item"><%= image_tag "screenshots/4.png", class: "img-responsive" %></div>
                                <div class="item"><%= image_tag "screenshots/5.png", class: "img-responsive" %></div>
                                <div class="item"><%= image_tag "screenshots/6.png", class: "img-responsive" %></div>
                                <div class="item"><%= image_tag "screenshots/7.png", class: "img-responsive" %></div>
                                <div class="item"><%= image_tag "screenshots/8.png", class: "img-responsive" %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End gallery -->
            
            <!-- Social -->
            <section id="social">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <ul class="social-icons list-unstyled list-inline">
                                <li>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook" class="green-tooltip">
                                        <div class="social-icon text-center"><i class="fa fa-facebook"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter" class="green-tooltip">
                                        <div class="social-icon text-center"><i class="fa fa-twitter"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus" class="green-tooltip">
                                        <div class="social-icon text-center"><i class="fa fa-google-plus"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram" class="green-tooltip">
                                        <div class="social-icon text-center"><i class="fa fa-instagram"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:author@company.com" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email" class="green-tooltip"><!-- Change to your own email address -->
                                        <div class="social-icon text-center"><i class="fa fa-envelope"></i></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End social -->
            
            <!-- Subscribe -->
            <section id="subscribe">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview">
                                <h1>Subscribe Now</h1>
                                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 text-center">
                            <form action="subscribe.php" id="invite" method="POST">
                                <div class="form-group">
                                    <label class="sr-only">Email</label>
                                    <input type="text" name="email" id="address" data-validate="validate(required, email)" class="form-control input-lg" placeholder="Enter email here">
                                </div>
                                <button type="submit" class="btn btn-3 btn-lg btn-wide">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End subscribe -->
            
            <!-- Footer -->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <ul class="list-unstyled list-inline footer-links">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Press</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Eula</a></li>
                            </ul>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="footer-note">
                                <p>&copy; 2014 Cosmos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End footer -->
            

        </body>
    </html>