<!DOCTYPE html>
<html>
<head>
  <title>Ilovejs</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <script src="http://www.gitshoes.com/repos/12.js" type='application/javascript'></script>
</head>
<body>
<div class="container">
  <%= yield %>
</div>
</body>
</html>