<!DOCTYPE html>
<html>
<head>
  <title>Gemify-JS</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
<% if flash[ :alert ] %>
    <% content_for :head do %>
        <script type="text/javascript">
            document.observe('dom:loaded', function() {
                alert("<%= flash[ :alert ] %>");
            });
        </script>
    <% end %>
<% end %>
<%= render 'layouts/nav' %>
<div class="container">
  <%= render 'layouts/error' %>
  <%= yield %>
</div>
</body>
</html>